<h1>Top</h1>
<p>Test Room</p>
<p><%= link_to 'Create Recruitment',new_recruitment_path %></p>
<p>Room Name</p>

<% @recruitments.each do |recruitment| %>
  <div class="recruitment">
    <h2 class="recruitment__openchat-name">
      <%= recruitment.room_name %>
    </h2>
    <div class="recruitment__description"><%= recruitment.description %></div>
    <%= link_to 'Join', recruitment.room_url,class: "recruitment__invite-url" %>
    <%= link_to 'Edit', edit_recruitment_path(recruitment) %>
    <% recruitment.recruitment_comments.each do |comment| %>
      <div class="recruitment__comment">
        <h3 id="comment-<%= comment[:id] %>">Comment</h3>
        <% unless comment.has_parent? %>
          <%= comment.text %>
        <% end %>

        <%= link_to 'Reply', "#{recruitments_path}?reply_to=#{comment[:id]}#comment-#{comment[:id]}" %>
        <% if comment[:id] == request.query_parameters[:reply_to].to_i %>
          <%= form_with model:[recruitment,recruitment.recruitment_comments.new], local: true do |form| %>
            <p>
              <%= form.label :to, "To" %> 
              <%= form.text_field :reply_to, value: comment[:id] %>
            </p>
            <p> 
              <%= form.label :text, "Reply" %> 
              <%= form.text_area :text, required: true %>
            </p>

            <p>
              <%= form.label :password, "Reply Password" %>
              <%= form.password_field :password, required: true %>
            </p>

            <p>
              <%= form.submit "Reply" %>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% unless request.query_parameters[:reply_to] %>
    <%= form_with model:[recruitment,recruitment.recruitment_comments.new], local: true do |form| %> 
      <p> 
        <%= form.label :text, "Comment" %> 
        <%= form.text_area :text, required: true %>
      </p>

      <p>
        <%= form.label :password, "Comment Password" %>
        <%= form.password_field :password, required: true %>
      </p>

      <p>
        <%= form.submit "Comment" %>
      </p>
    <% end %>
    <% end %>
  </div>
<% end %>
