<h1>New Recruitment</h1>
<%= form_with model: Recruitment.new, local: true do |form| %>
  <p>
    <%= form.label :room_name,"Room Name" %><br>
    <%= form.text_field :room_name %>
  </p>

  <p>
  <%= form.label :room_url,"URL" %><br>
    <%= form.text_field :room_url %>
  </p>

  <p>
  <%= form.label :description,"Description" %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit "Recruit" %>
  </p>

  <p><%= link_to 'Back',recruitments_path %></p>
<% end %>
